extends layout
block content
	//checking is user exists
	if users
		.container
			h1 Welcome #{users.email}
			.container
				h1 welcome #{usersGlobal}
	// - Image Slider
		#slides.container.carousel.slide(data-ride='carousel')
			ul.carousel-indicators
				li.active(data-target='#slides', data-slide-to='0')
				li(data-target='#slides', data-slide-to='1')
				li(data-target='#slides', data-slide-to='2')
			.carousel-inner
				.carousel-item.active
					img(src='red.jpg')
				.carousel-item
					img(src='red2.jpg')
				.carousel-item
					img(src='red3.jpg')
			a.carousel-control-prev(href='#slides', data-slide='prev')
				span.carousel-control-prev-icon
			a.carousel-control-next(href='#slides', data-slide='next')
				span.carousel-control-next-icon
	
	//image from template	
	section.hero-wrap.hero-wrap-2(style="background-image: url('welcome_img.png');", data-stellar-background-ratio='0.5')
		.overlay
		.container
			.row.no-gutters.slider-text.js-fullheight.align-items-center.justify-content-center
				.col-md.ftco-animate.pb-2.text-center
					h2.mb-2.bread Welcome To KUYRCC Site
					p.breadcrumbs
						span.mr-2
							a(href='/frontend')
								| Home 
								i.ion-ios-arrow-forward
	// - Jumbotron


	//p.text-info.font-weight-bold.font-italic ..............................................................................................................Current Date: #{moment().format('MM/DD/YYYY')}..................................................................................................

	if events
		.row.mt-4
			.col
				.container.col-9.text-center(style='width:410px;')
									a(href="/eventList")
										.card-deck.mb-5
											.card.bg-success
													.card
															.row
																	a(href="/eventList")
																		img.img-fluid.ml-4.mt-1(style=' height:200px;' src='eventsMain.jpg', alt="Main event name" )
															.row
																-var i = 0
																each event, j in events
																	if event.event_type == "Main Event" || event.event_type == "Small Event"
																		- i = i +1
																		a(href="users/eventList/comment/" + event._id)
																			.row
																				.col.text-left.pl-5
																					p.card-title.text-danger(style='width:150px;') #{event.event_name}
																				.col.text-right
																					p.card-title.text-danger.text-right.pr-2(style='width:150px;')  Date:#{event.event_date}
																		if i == 4
																			-break
																a(href="/eventList")
																	button.btn.btn-warning.float-md-right.ml-3(type='button') See More
			.col
				.container.col-10.text-center(style='width:410px;')
									a(href="/firstAidTips/")
										.card-deck.mb-5(style='height:460px;')
											.card.bg-success
													.card
															.row
																	a(href="/firstAidTips/")
																		img.img-fluid.ml-4.mt-1(style=' height:200px;' src='firstaid.jpg', alt="firstaid event name" )
															.row
																-var i = 0
																each event, j in events
																	if event.event_type == "First Aid" 
																		- i = i +1
																		a(href="users/eventList/comment/" + event._id)
																			.row
																				.col.text-left.pl-5
																					p.card-title.text-danger(style='width:150px;') #{event.event_name}
																				.col.text-right
																					p.card-title.text-danger.text-right.pr-2(style='width:150px;')  Date:#{event.event_date}
																		if i == 4
																			-break
																a(href="/firstAidTips/")
																	button.btn.btn-warning.float-md-right.ml-3(type='button') See More

			if globalMember
				if globalMember[0].member_position == "Admin"
					.col
						.container.col-10.text-center(style='width:410px;')
											a(href="/memberEvents/")
												.card-deck.mb-5(style='height:460px;')
													.card.bg-success
															.card
																	.row
																			a(href="/memberEvents/")
																				img.img-fluid.ml-4.mt-1(style=' height:200px;' src='meeting.jpg', alt="meeting event name" )
																	.row
																		-var i = 0
																		each event, j in events
																			if event.event_type == "Meetings" 
																				- i = i +1
																				a(href="users/eventList/comment/" + event._id)
																					.row
																						.col.text-left.pl-5
																							p.card-title.text-danger(style='width:150px;') #{event.event_name}
																						.col.text-right
																							p.card-title.text-danger.text-right.pr-2(style='width:150px;')  Date:#{event.event_date}
																				if i == 4
																					-break
																		a(href="/memberEvents/")
																			button.btn.btn-warning.float-md-right.float-button.ml-3(type='button') See More

	// - Welcome Section
	.container
		p
		| Kathmandu University Youth Red Cross Circle is a registered youth  Red cross circle under Banepa Red Cross Chapter.
		| We are an energetic  group of youth studying at Kathmandu University devoted towards the  social services. 
		| With pure motive of serving humanity, our circle  organizes different social welfare and awareness programs.
		br
		p
			| Seven Fundamental Principles of Red cross
			br
			li
				|Humanity
			li
				|Impartiality
			li
				|Neutrality
			li
				|Independence
			li
				|Voluntary Service
			li
				|Unity
			li
				|Universality

	// - Three Column Section
	// - Two Column Section
	// - Fixed background
	// - Emoji Section
	// - Meet the team
	// - Cards
	// - Two Column Section
	// - Connect
	// - Footer
